/*** LIGHT ***/

/* Text */
:root[data-theme='light'] {
    --ifm-color-primary: #d30916 ; /* Primary, left TOC inactive links */
}

/* Navbar */
:root[data-theme='light'] #__docusaurus > nav.navbar {
    background-color: #333333;
}

/* Left TOC */
:root[data-theme='light'] #__docusaurus > div.main-wrapper div.menu {
    background-color: #eeeeee;
}

/* Left TOC - Collapse button */
:root[data-theme='light'] #__docusaurus > div.main-wrapper button {
    background: #e4e3e6;
    border-color: #e4e3e6;
    color: #606770;
}
:root[data-theme='light'] #__docusaurus > div.main-wrapper button:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #606770;
}
:root[data-theme='light'] #__docusaurus > div.main-wrapper button.button--sm:hover {
    border-color: #606770;
}

/* Notes */
:root[data-theme='light'] {
    --ifm-color-secondary: #eeeeee; /* Note note and footerl inks */
    --ifm-color-success: #2874ca; /* Tip note */
    --ifm-color-info: #2a9d8f; /* Important note */
    --ifm-color-warning: #cca300; /* Warning note */
    --ifm-color-danger: #df0035; /* Danger note */
}
/* Note override */
html[data-theme='light'] div.admonition.admonition-note.alert.alert--secondary {
    background: #1d3557;
    color: #ffffff;
    border: none;
}

html[data-theme='light'] div.admonition.admonition-note.alert.alert--secondary > div.admonition-heading > h5 > span {
    filter: invert(100%);
}

/* Blockquotes */
:root[data-theme='light'] blockquote {
    color: #606770;
}

/*** DARK ***/

/* Text */
:root[data-theme='dark'] {
    --ifm-color-primary: #d30916; /* Primary, left TOC inactive links */
}

/* Navbar */
:root[data-theme='dark'] #__docusaurus > nav.navbar {
    background-color: #333333;
}

/* Left TOC */

/* This breaks the right border
:root[data-theme='dark'] #__docusaurus > div.main-wrapper div.menu {
    background-color: #18191a;
}*/

/* Left TOC - Collapse button */
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button {
    background: #242526;
    border: none;
    border-right: var(--ifm-button-border-width) solid #606770;
}
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button:hover {
    background: #606770;
    border: none;
    border-right: var(--ifm-button-border-width) solid #606770;
}

/* Hovered collapse button */
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button.button--sm {
    border: var(--ifm-button-border-width) solid #606770;
    color: #eeeeee;
}
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button.button--sm:hover {
    border: var(--ifm-button-border-width) solid #606770;
    color: #eeeeee;
}

/* Notes */
:root[data-theme='dark'] {
    --ifm-color-secondary: #eeeeee; /* Note note and footerl inks */
    --ifm-color-success: #2874ca; /* Tip note */
    --ifm-color-info: #2a9d8f; /* Important note */
    --ifm-color-warning: #cca300; /* Warning note */
    --ifm-color-danger: #df0035; /* Danger note */
}
/* Note override */
html[data-theme='dark'] div.admonition.admonition-note.alert.alert--secondary {
    background: #112e4f;
    color: #f5f6f7;
    border: none;
}
html[data-theme='dark'] div.admonition.admonition-tip.alert.alert--success,
html[data-theme='dark'] div.admonition.admonition-important.alert.alert--info,
html[data-theme='dark'] div.admonition.admonition-caution.alert.alert--warning,
html[data-theme='dark'] div.admonition.admonition-warning.alert.alert--danger {
    color: #f5f6f7;
    border: none;
}

html[data-theme='dark'] div.admonition.admonition-note.alert.alert--secondary > div.admonition-heading > h5 > span,
html[data-theme='dark'] div.admonition.admonition-tip.alert.alert--success > div.admonition-heading > h5 > span,
html[data-theme='dark'] div.admonition.admonition-important.alert.alert--info > div.admonition-heading > h5 > span,
html[data-theme='dark'] div.admonition.admonition-caution.alert.alert--warning > div.admonition-heading > h5 > span,
html[data-theme='dark'] div.admonition.admonition-warning.alert.alert--danger > div.admonition-heading > h5 > span {
    filter: invert(100%);
}

:root[data-theme='dark'] blockquote {
    color: #dadde1;
}

/* Fix issues with colors of note children */
div.admonition,
div.admonition * {
    color: #f5f6f7;
}