/*** LIGHT ***/

/* Text */
:root[data-theme='light'] {
    --ifm-color-primary: #d30916 ; /* Primary, left TOC inactive links */
}

/* Navbar */
:root[data-theme='light'] #__docusaurus > nav.navbar {
    background-color: #333333;
}

/* Left TOC */
:root[data-theme='light'] #__docusaurus > div.main-wrapper div.menu {
    background-color: #eeeeee;
}

/* Left TOC - Collapse button */
:root[data-theme='light'] #__docusaurus > div.main-wrapper button {
    background: #e4e3e6;
    border-color: #e4e3e6;
    color: #606770;
}
:root[data-theme='light'] #__docusaurus > div.main-wrapper button:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #606770;
}
:root[data-theme='light'] #__docusaurus > div.main-wrapper button.button--sm:hover {
    border-color: #606770;
}

/* Search */
:root[data-theme='light'] div.dsla-search-wrapper div.aa-DetachedSearchButtonIcon > svg,
:root[data-theme='light'] #autocomplete-1-label > button > svg {
    color: #333333;
}

/*
div.dsla-search-wrapper > div > div > button:active,
body > div.aa-DetachedOverlay > div > div > form:active,
body > div.aa-DetachedOverlay > div > div > form:focus {
    border-color: var(--ifm-color-primary);
}*/

/*** DARK ***/

/* Text */
:root[data-theme='dark'] {
    --ifm-color-primary: #d30916; /* Primary, left TOC inactive links */
}

/* Navbar */
:root[data-theme='dark'] #__docusaurus > nav.navbar {
    background-color: #333333;
}

/* Left TOC */

/* Left TOC - Collapse button */
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button {
    background: #242526;
    border: none;
    border-right: var(--ifm-button-border-width) solid #606770;
}
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button:hover {
    background: #606770;
    border: none;
    border-right: var(--ifm-button-border-width) solid #606770;
}

/* Hovered collapse button */
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button.button--sm {
    border: var(--ifm-button-border-width) solid #606770;
    color: #eeeeee;
}
:root[data-theme='dark'] #__docusaurus > div.main-wrapper button.button--sm:hover {
    border: var(--ifm-button-border-width) solid #606770;
    color: #eeeeee;
}

/* Search */
:root[data-theme='dark'] div.dsla-search-wrapper div.aa-DetachedSearchButtonIcon > svg,
#autocomplete-1-label > button > svg {
    color: #eeeeee;
}

:root[data-theme='dark'] div.dsla-search-wrapper div.aa-DetachedSearchButtonPlaceholder {
    color: #606770;
}