th.entry {
  background-color: #333333;
  color: #ffffff;
}
th.entry * {
  border: none;
  font-weight: bold;
  font-style: normal;
  font-family: inherit;
  color: #ffffff;
  background-color: #333333;
}

/* Left-align table titles */
table.table > caption {
  text-align: left;
}

/* Fix issues with choicetables */
table {
  border: none;
}

/* Disable table numbering. */
span.table--title-label {
  display: none;
  content: none;
}